form {
  margin: 0px !important;
  padding: 0px !important; }

.full-width {
  width: 100%; }

.container-fluid {
  width: 98vw !important; }

.padding-none {
  padding: 0px !important; }

.margin-none {
  margin: 0px !important; }

.font-size-1 {
  font-size: calc(((1vw + 1vh) * 1) / 3); }

.font-size-2 {
  font-size: calc(((1vw + 1vh) * 2) / 3); }

.font-size-3 {
  font-size: calc(((1vw + 1vh) * 3) / 3); }

.font-size-4 {
  font-size: calc(((1vw + 1vh) * 4) / 3); }

.font-size-5 {
  font-size: calc(((1vw + 1vh) * 5) / 3); }

.font-size-6 {
  font-size: calc(((1vw + 1vh) * 6) / 3); }

.font-size-7 {
  font-size: calc(((1vw + 1vh) * 7) / 3); }

.font-size-8 {
  font-size: calc(((1vw + 1vh) * 8) / 3); }

.font-size-9 {
  font-size: calc(((1vw + 1vh) * 9) / 3); }

.font-size-10 {
  font-size: calc(((1vw + 1vh) * 10) / 3); }

.font-size-11 {
  font-size: calc(((1vw + 1vh) * 11) / 3); }

.font-size-12 {
  font-size: calc(((1vw + 1vh) * 12) / 3); }

.font-size-13 {
  font-size: calc(((1vw + 1vh) * 13) / 3); }

.font-size-14 {
  font-size: calc(((1vw + 1vh) * 14) / 3); }

.font-size-15 {
  font-size: calc(((1vw + 1vh) * 15) / 3); }

.font-size-16 {
  font-size: calc(((1vw + 1vh) * 16) / 3); }

.font-size-17 {
  font-size: calc(((1vw + 1vh) * 17) / 3); }

.font-size-18 {
  font-size: calc(((1vw + 1vh) * 18) / 3); }

.font-size-19 {
  font-size: calc(((1vw + 1vh) * 19) / 3); }

.font-size-20 {
  font-size: calc(((1vw + 1vh) * 20) / 3); }

.font-size-21 {
  font-size: calc(((1vw + 1vh) * 21) / 3); }

.font-size-22 {
  font-size: calc(((1vw + 1vh) * 22) / 3); }

.font-size-23 {
  font-size: calc(((1vw + 1vh) * 23) / 3); }

.font-size-24 {
  font-size: calc(((1vw + 1vh) * 24) / 3); }

.col-xs-1 {
  padding: 0px; }

.h-1\/12 {
  height: calc(1 * (100vh) / 12); }

.col-xs-2 {
  padding: 0px; }

.h-2\/12 {
  height: calc(2 * (100vh) / 12); }

.col-xs-3 {
  padding: 0px; }

.h-3\/12 {
  height: calc(3 * (100vh) / 12); }

.col-xs-4 {
  padding: 0px; }

.h-4\/12 {
  height: calc(4 * (100vh) / 12); }

.col-xs-5 {
  padding: 0px; }

.h-5\/12 {
  height: calc(5 * (100vh) / 12); }

.col-xs-6 {
  padding: 0px; }

.h-6\/12 {
  height: calc(6 * (100vh) / 12); }

.col-xs-7 {
  padding: 0px; }

.h-7\/12 {
  height: calc(7 * (100vh) / 12); }

.col-xs-8 {
  padding: 0px; }

.h-8\/12 {
  height: calc(8 * (100vh) / 12); }

.col-xs-9 {
  padding: 0px; }

.h-9\/12 {
  height: calc(9 * (100vh) / 12); }

.col-xs-10 {
  padding: 0px; }

.h-10\/12 {
  height: calc(10 * (100vh) / 12); }

.col-xs-11 {
  padding: 0px; }

.h-11\/12 {
  height: calc(11 * (100vh) / 12); }

.col-xs-12 {
  padding: 0px; }

.h-12\/12 {
  height: calc(12 * (100vh) / 12); }

.pl-1 {
  padding-left: calc(1 * 1%) !important; }

.pt-1 {
  padding-top: calc(1 * 1%) !important; }

.pr-1 {
  padding-right: calc(1 * 1%) !important; }

.pb-1 {
  padding-bottom: calc(1 * 1%) !important; }

.ml-1 {
  margin-left: calc(1 * 1%) !important; }

.mt-1 {
  margin-top: calc(1 * 1%) !important; }

.mr-1 {
  margin-right: calc(1 * 1%) !important; }

.mb-1 {
  margin-bottom: calc(1 * 1%) !important; }

.pl-2 {
  padding-left: calc(2 * 1%) !important; }

.pt-2 {
  padding-top: calc(2 * 1%) !important; }

.pr-2 {
  padding-right: calc(2 * 1%) !important; }

.pb-2 {
  padding-bottom: calc(2 * 1%) !important; }

.ml-2 {
  margin-left: calc(2 * 1%) !important; }

.mt-2 {
  margin-top: calc(2 * 1%) !important; }

.mr-2 {
  margin-right: calc(2 * 1%) !important; }

.mb-2 {
  margin-bottom: calc(2 * 1%) !important; }

.pl-3 {
  padding-left: calc(3 * 1%) !important; }

.pt-3 {
  padding-top: calc(3 * 1%) !important; }

.pr-3 {
  padding-right: calc(3 * 1%) !important; }

.pb-3 {
  padding-bottom: calc(3 * 1%) !important; }

.ml-3 {
  margin-left: calc(3 * 1%) !important; }

.mt-3 {
  margin-top: calc(3 * 1%) !important; }

.mr-3 {
  margin-right: calc(3 * 1%) !important; }

.mb-3 {
  margin-bottom: calc(3 * 1%) !important; }

.pl-4 {
  padding-left: calc(4 * 1%) !important; }

.pt-4 {
  padding-top: calc(4 * 1%) !important; }

.pr-4 {
  padding-right: calc(4 * 1%) !important; }

.pb-4 {
  padding-bottom: calc(4 * 1%) !important; }

.ml-4 {
  margin-left: calc(4 * 1%) !important; }

.mt-4 {
  margin-top: calc(4 * 1%) !important; }

.mr-4 {
  margin-right: calc(4 * 1%) !important; }

.mb-4 {
  margin-bottom: calc(4 * 1%) !important; }

.pl-5 {
  padding-left: calc(5 * 1%) !important; }

.pt-5 {
  padding-top: calc(5 * 1%) !important; }

.pr-5 {
  padding-right: calc(5 * 1%) !important; }

.pb-5 {
  padding-bottom: calc(5 * 1%) !important; }

.ml-5 {
  margin-left: calc(5 * 1%) !important; }

.mt-5 {
  margin-top: calc(5 * 1%) !important; }

.mr-5 {
  margin-right: calc(5 * 1%) !important; }

.mb-5 {
  margin-bottom: calc(5 * 1%) !important; }

.pl-6 {
  padding-left: calc(6 * 1%) !important; }

.pt-6 {
  padding-top: calc(6 * 1%) !important; }

.pr-6 {
  padding-right: calc(6 * 1%) !important; }

.pb-6 {
  padding-bottom: calc(6 * 1%) !important; }

.ml-6 {
  margin-left: calc(6 * 1%) !important; }

.mt-6 {
  margin-top: calc(6 * 1%) !important; }

.mr-6 {
  margin-right: calc(6 * 1%) !important; }

.mb-6 {
  margin-bottom: calc(6 * 1%) !important; }

.pl-7 {
  padding-left: calc(7 * 1%) !important; }

.pt-7 {
  padding-top: calc(7 * 1%) !important; }

.pr-7 {
  padding-right: calc(7 * 1%) !important; }

.pb-7 {
  padding-bottom: calc(7 * 1%) !important; }

.ml-7 {
  margin-left: calc(7 * 1%) !important; }

.mt-7 {
  margin-top: calc(7 * 1%) !important; }

.mr-7 {
  margin-right: calc(7 * 1%) !important; }

.mb-7 {
  margin-bottom: calc(7 * 1%) !important; }

.pl-8 {
  padding-left: calc(8 * 1%) !important; }

.pt-8 {
  padding-top: calc(8 * 1%) !important; }

.pr-8 {
  padding-right: calc(8 * 1%) !important; }

.pb-8 {
  padding-bottom: calc(8 * 1%) !important; }

.ml-8 {
  margin-left: calc(8 * 1%) !important; }

.mt-8 {
  margin-top: calc(8 * 1%) !important; }

.mr-8 {
  margin-right: calc(8 * 1%) !important; }

.mb-8 {
  margin-bottom: calc(8 * 1%) !important; }

.pl-9 {
  padding-left: calc(9 * 1%) !important; }

.pt-9 {
  padding-top: calc(9 * 1%) !important; }

.pr-9 {
  padding-right: calc(9 * 1%) !important; }

.pb-9 {
  padding-bottom: calc(9 * 1%) !important; }

.ml-9 {
  margin-left: calc(9 * 1%) !important; }

.mt-9 {
  margin-top: calc(9 * 1%) !important; }

.mr-9 {
  margin-right: calc(9 * 1%) !important; }

.mb-9 {
  margin-bottom: calc(9 * 1%) !important; }

.pl-10 {
  padding-left: calc(10 * 1%) !important; }

.pt-10 {
  padding-top: calc(10 * 1%) !important; }

.pr-10 {
  padding-right: calc(10 * 1%) !important; }

.pb-10 {
  padding-bottom: calc(10 * 1%) !important; }

.ml-10 {
  margin-left: calc(10 * 1%) !important; }

.mt-10 {
  margin-top: calc(10 * 1%) !important; }

.mr-10 {
  margin-right: calc(10 * 1%) !important; }

.mb-10 {
  margin-bottom: calc(10 * 1%) !important; }

.pl-11 {
  padding-left: calc(11 * 1%) !important; }

.pt-11 {
  padding-top: calc(11 * 1%) !important; }

.pr-11 {
  padding-right: calc(11 * 1%) !important; }

.pb-11 {
  padding-bottom: calc(11 * 1%) !important; }

.ml-11 {
  margin-left: calc(11 * 1%) !important; }

.mt-11 {
  margin-top: calc(11 * 1%) !important; }

.mr-11 {
  margin-right: calc(11 * 1%) !important; }

.mb-11 {
  margin-bottom: calc(11 * 1%) !important; }

.pl-12 {
  padding-left: calc(12 * 1%) !important; }

.pt-12 {
  padding-top: calc(12 * 1%) !important; }

.pr-12 {
  padding-right: calc(12 * 1%) !important; }

.pb-12 {
  padding-bottom: calc(12 * 1%) !important; }

.ml-12 {
  margin-left: calc(12 * 1%) !important; }

.mt-12 {
  margin-top: calc(12 * 1%) !important; }

.mr-12 {
  margin-right: calc(12 * 1%) !important; }

.mb-12 {
  margin-bottom: calc(12 * 1%) !important; }

.pl-13 {
  padding-left: calc(13 * 1%) !important; }

.pt-13 {
  padding-top: calc(13 * 1%) !important; }

.pr-13 {
  padding-right: calc(13 * 1%) !important; }

.pb-13 {
  padding-bottom: calc(13 * 1%) !important; }

.ml-13 {
  margin-left: calc(13 * 1%) !important; }

.mt-13 {
  margin-top: calc(13 * 1%) !important; }

.mr-13 {
  margin-right: calc(13 * 1%) !important; }

.mb-13 {
  margin-bottom: calc(13 * 1%) !important; }

.pl-14 {
  padding-left: calc(14 * 1%) !important; }

.pt-14 {
  padding-top: calc(14 * 1%) !important; }

.pr-14 {
  padding-right: calc(14 * 1%) !important; }

.pb-14 {
  padding-bottom: calc(14 * 1%) !important; }

.ml-14 {
  margin-left: calc(14 * 1%) !important; }

.mt-14 {
  margin-top: calc(14 * 1%) !important; }

.mr-14 {
  margin-right: calc(14 * 1%) !important; }

.mb-14 {
  margin-bottom: calc(14 * 1%) !important; }

.pl-15 {
  padding-left: calc(15 * 1%) !important; }

.pt-15 {
  padding-top: calc(15 * 1%) !important; }

.pr-15 {
  padding-right: calc(15 * 1%) !important; }

.pb-15 {
  padding-bottom: calc(15 * 1%) !important; }

.ml-15 {
  margin-left: calc(15 * 1%) !important; }

.mt-15 {
  margin-top: calc(15 * 1%) !important; }

.mr-15 {
  margin-right: calc(15 * 1%) !important; }

.mb-15 {
  margin-bottom: calc(15 * 1%) !important; }

.pl-16 {
  padding-left: calc(16 * 1%) !important; }

.pt-16 {
  padding-top: calc(16 * 1%) !important; }

.pr-16 {
  padding-right: calc(16 * 1%) !important; }

.pb-16 {
  padding-bottom: calc(16 * 1%) !important; }

.ml-16 {
  margin-left: calc(16 * 1%) !important; }

.mt-16 {
  margin-top: calc(16 * 1%) !important; }

.mr-16 {
  margin-right: calc(16 * 1%) !important; }

.mb-16 {
  margin-bottom: calc(16 * 1%) !important; }

.pl-17 {
  padding-left: calc(17 * 1%) !important; }

.pt-17 {
  padding-top: calc(17 * 1%) !important; }

.pr-17 {
  padding-right: calc(17 * 1%) !important; }

.pb-17 {
  padding-bottom: calc(17 * 1%) !important; }

.ml-17 {
  margin-left: calc(17 * 1%) !important; }

.mt-17 {
  margin-top: calc(17 * 1%) !important; }

.mr-17 {
  margin-right: calc(17 * 1%) !important; }

.mb-17 {
  margin-bottom: calc(17 * 1%) !important; }

.pl-18 {
  padding-left: calc(18 * 1%) !important; }

.pt-18 {
  padding-top: calc(18 * 1%) !important; }

.pr-18 {
  padding-right: calc(18 * 1%) !important; }

.pb-18 {
  padding-bottom: calc(18 * 1%) !important; }

.ml-18 {
  margin-left: calc(18 * 1%) !important; }

.mt-18 {
  margin-top: calc(18 * 1%) !important; }

.mr-18 {
  margin-right: calc(18 * 1%) !important; }

.mb-18 {
  margin-bottom: calc(18 * 1%) !important; }

.pl-19 {
  padding-left: calc(19 * 1%) !important; }

.pt-19 {
  padding-top: calc(19 * 1%) !important; }

.pr-19 {
  padding-right: calc(19 * 1%) !important; }

.pb-19 {
  padding-bottom: calc(19 * 1%) !important; }

.ml-19 {
  margin-left: calc(19 * 1%) !important; }

.mt-19 {
  margin-top: calc(19 * 1%) !important; }

.mr-19 {
  margin-right: calc(19 * 1%) !important; }

.mb-19 {
  margin-bottom: calc(19 * 1%) !important; }

.pl-20 {
  padding-left: calc(20 * 1%) !important; }

.pt-20 {
  padding-top: calc(20 * 1%) !important; }

.pr-20 {
  padding-right: calc(20 * 1%) !important; }

.pb-20 {
  padding-bottom: calc(20 * 1%) !important; }

.ml-20 {
  margin-left: calc(20 * 1%) !important; }

.mt-20 {
  margin-top: calc(20 * 1%) !important; }

.mr-20 {
  margin-right: calc(20 * 1%) !important; }

.mb-20 {
  margin-bottom: calc(20 * 1%) !important; }

.pl-21 {
  padding-left: calc(21 * 1%) !important; }

.pt-21 {
  padding-top: calc(21 * 1%) !important; }

.pr-21 {
  padding-right: calc(21 * 1%) !important; }

.pb-21 {
  padding-bottom: calc(21 * 1%) !important; }

.ml-21 {
  margin-left: calc(21 * 1%) !important; }

.mt-21 {
  margin-top: calc(21 * 1%) !important; }

.mr-21 {
  margin-right: calc(21 * 1%) !important; }

.mb-21 {
  margin-bottom: calc(21 * 1%) !important; }

.pl-22 {
  padding-left: calc(22 * 1%) !important; }

.pt-22 {
  padding-top: calc(22 * 1%) !important; }

.pr-22 {
  padding-right: calc(22 * 1%) !important; }

.pb-22 {
  padding-bottom: calc(22 * 1%) !important; }

.ml-22 {
  margin-left: calc(22 * 1%) !important; }

.mt-22 {
  margin-top: calc(22 * 1%) !important; }

.mr-22 {
  margin-right: calc(22 * 1%) !important; }

.mb-22 {
  margin-bottom: calc(22 * 1%) !important; }

.pl-23 {
  padding-left: calc(23 * 1%) !important; }

.pt-23 {
  padding-top: calc(23 * 1%) !important; }

.pr-23 {
  padding-right: calc(23 * 1%) !important; }

.pb-23 {
  padding-bottom: calc(23 * 1%) !important; }

.ml-23 {
  margin-left: calc(23 * 1%) !important; }

.mt-23 {
  margin-top: calc(23 * 1%) !important; }

.mr-23 {
  margin-right: calc(23 * 1%) !important; }

.mb-23 {
  margin-bottom: calc(23 * 1%) !important; }

.pl-24 {
  padding-left: calc(24 * 1%) !important; }

.pt-24 {
  padding-top: calc(24 * 1%) !important; }

.pr-24 {
  padding-right: calc(24 * 1%) !important; }

.pb-24 {
  padding-bottom: calc(24 * 1%) !important; }

.ml-24 {
  margin-left: calc(24 * 1%) !important; }

.mt-24 {
  margin-top: calc(24 * 1%) !important; }

.mr-24 {
  margin-right: calc(24 * 1%) !important; }

.mb-24 {
  margin-bottom: calc(24 * 1%) !important; }

.pl-25 {
  padding-left: calc(25 * 1%) !important; }

.pt-25 {
  padding-top: calc(25 * 1%) !important; }

.pr-25 {
  padding-right: calc(25 * 1%) !important; }

.pb-25 {
  padding-bottom: calc(25 * 1%) !important; }

.ml-25 {
  margin-left: calc(25 * 1%) !important; }

.mt-25 {
  margin-top: calc(25 * 1%) !important; }

.mr-25 {
  margin-right: calc(25 * 1%) !important; }

.mb-25 {
  margin-bottom: calc(25 * 1%) !important; }

.pl-26 {
  padding-left: calc(26 * 1%) !important; }

.pt-26 {
  padding-top: calc(26 * 1%) !important; }

.pr-26 {
  padding-right: calc(26 * 1%) !important; }

.pb-26 {
  padding-bottom: calc(26 * 1%) !important; }

.ml-26 {
  margin-left: calc(26 * 1%) !important; }

.mt-26 {
  margin-top: calc(26 * 1%) !important; }

.mr-26 {
  margin-right: calc(26 * 1%) !important; }

.mb-26 {
  margin-bottom: calc(26 * 1%) !important; }

.pl-27 {
  padding-left: calc(27 * 1%) !important; }

.pt-27 {
  padding-top: calc(27 * 1%) !important; }

.pr-27 {
  padding-right: calc(27 * 1%) !important; }

.pb-27 {
  padding-bottom: calc(27 * 1%) !important; }

.ml-27 {
  margin-left: calc(27 * 1%) !important; }

.mt-27 {
  margin-top: calc(27 * 1%) !important; }

.mr-27 {
  margin-right: calc(27 * 1%) !important; }

.mb-27 {
  margin-bottom: calc(27 * 1%) !important; }

.pl-28 {
  padding-left: calc(28 * 1%) !important; }

.pt-28 {
  padding-top: calc(28 * 1%) !important; }

.pr-28 {
  padding-right: calc(28 * 1%) !important; }

.pb-28 {
  padding-bottom: calc(28 * 1%) !important; }

.ml-28 {
  margin-left: calc(28 * 1%) !important; }

.mt-28 {
  margin-top: calc(28 * 1%) !important; }

.mr-28 {
  margin-right: calc(28 * 1%) !important; }

.mb-28 {
  margin-bottom: calc(28 * 1%) !important; }

.pl-29 {
  padding-left: calc(29 * 1%) !important; }

.pt-29 {
  padding-top: calc(29 * 1%) !important; }

.pr-29 {
  padding-right: calc(29 * 1%) !important; }

.pb-29 {
  padding-bottom: calc(29 * 1%) !important; }

.ml-29 {
  margin-left: calc(29 * 1%) !important; }

.mt-29 {
  margin-top: calc(29 * 1%) !important; }

.mr-29 {
  margin-right: calc(29 * 1%) !important; }

.mb-29 {
  margin-bottom: calc(29 * 1%) !important; }

.pl-30 {
  padding-left: calc(30 * 1%) !important; }

.pt-30 {
  padding-top: calc(30 * 1%) !important; }

.pr-30 {
  padding-right: calc(30 * 1%) !important; }

.pb-30 {
  padding-bottom: calc(30 * 1%) !important; }

.ml-30 {
  margin-left: calc(30 * 1%) !important; }

.mt-30 {
  margin-top: calc(30 * 1%) !important; }

.mr-30 {
  margin-right: calc(30 * 1%) !important; }

.mb-30 {
  margin-bottom: calc(30 * 1%) !important; }

.pl-31 {
  padding-left: calc(31 * 1%) !important; }

.pt-31 {
  padding-top: calc(31 * 1%) !important; }

.pr-31 {
  padding-right: calc(31 * 1%) !important; }

.pb-31 {
  padding-bottom: calc(31 * 1%) !important; }

.ml-31 {
  margin-left: calc(31 * 1%) !important; }

.mt-31 {
  margin-top: calc(31 * 1%) !important; }

.mr-31 {
  margin-right: calc(31 * 1%) !important; }

.mb-31 {
  margin-bottom: calc(31 * 1%) !important; }

.pl-32 {
  padding-left: calc(32 * 1%) !important; }

.pt-32 {
  padding-top: calc(32 * 1%) !important; }

.pr-32 {
  padding-right: calc(32 * 1%) !important; }

.pb-32 {
  padding-bottom: calc(32 * 1%) !important; }

.ml-32 {
  margin-left: calc(32 * 1%) !important; }

.mt-32 {
  margin-top: calc(32 * 1%) !important; }

.mr-32 {
  margin-right: calc(32 * 1%) !important; }

.mb-32 {
  margin-bottom: calc(32 * 1%) !important; }

.pl-33 {
  padding-left: calc(33 * 1%) !important; }

.pt-33 {
  padding-top: calc(33 * 1%) !important; }

.pr-33 {
  padding-right: calc(33 * 1%) !important; }

.pb-33 {
  padding-bottom: calc(33 * 1%) !important; }

.ml-33 {
  margin-left: calc(33 * 1%) !important; }

.mt-33 {
  margin-top: calc(33 * 1%) !important; }

.mr-33 {
  margin-right: calc(33 * 1%) !important; }

.mb-33 {
  margin-bottom: calc(33 * 1%) !important; }

.pl-34 {
  padding-left: calc(34 * 1%) !important; }

.pt-34 {
  padding-top: calc(34 * 1%) !important; }

.pr-34 {
  padding-right: calc(34 * 1%) !important; }

.pb-34 {
  padding-bottom: calc(34 * 1%) !important; }

.ml-34 {
  margin-left: calc(34 * 1%) !important; }

.mt-34 {
  margin-top: calc(34 * 1%) !important; }

.mr-34 {
  margin-right: calc(34 * 1%) !important; }

.mb-34 {
  margin-bottom: calc(34 * 1%) !important; }

.pl-35 {
  padding-left: calc(35 * 1%) !important; }

.pt-35 {
  padding-top: calc(35 * 1%) !important; }

.pr-35 {
  padding-right: calc(35 * 1%) !important; }

.pb-35 {
  padding-bottom: calc(35 * 1%) !important; }

.ml-35 {
  margin-left: calc(35 * 1%) !important; }

.mt-35 {
  margin-top: calc(35 * 1%) !important; }

.mr-35 {
  margin-right: calc(35 * 1%) !important; }

.mb-35 {
  margin-bottom: calc(35 * 1%) !important; }

.pl-36 {
  padding-left: calc(36 * 1%) !important; }

.pt-36 {
  padding-top: calc(36 * 1%) !important; }

.pr-36 {
  padding-right: calc(36 * 1%) !important; }

.pb-36 {
  padding-bottom: calc(36 * 1%) !important; }

.ml-36 {
  margin-left: calc(36 * 1%) !important; }

.mt-36 {
  margin-top: calc(36 * 1%) !important; }

.mr-36 {
  margin-right: calc(36 * 1%) !important; }

.mb-36 {
  margin-bottom: calc(36 * 1%) !important; }

.pl-37 {
  padding-left: calc(37 * 1%) !important; }

.pt-37 {
  padding-top: calc(37 * 1%) !important; }

.pr-37 {
  padding-right: calc(37 * 1%) !important; }

.pb-37 {
  padding-bottom: calc(37 * 1%) !important; }

.ml-37 {
  margin-left: calc(37 * 1%) !important; }

.mt-37 {
  margin-top: calc(37 * 1%) !important; }

.mr-37 {
  margin-right: calc(37 * 1%) !important; }

.mb-37 {
  margin-bottom: calc(37 * 1%) !important; }

.pl-38 {
  padding-left: calc(38 * 1%) !important; }

.pt-38 {
  padding-top: calc(38 * 1%) !important; }

.pr-38 {
  padding-right: calc(38 * 1%) !important; }

.pb-38 {
  padding-bottom: calc(38 * 1%) !important; }

.ml-38 {
  margin-left: calc(38 * 1%) !important; }

.mt-38 {
  margin-top: calc(38 * 1%) !important; }

.mr-38 {
  margin-right: calc(38 * 1%) !important; }

.mb-38 {
  margin-bottom: calc(38 * 1%) !important; }

.pl-39 {
  padding-left: calc(39 * 1%) !important; }

.pt-39 {
  padding-top: calc(39 * 1%) !important; }

.pr-39 {
  padding-right: calc(39 * 1%) !important; }

.pb-39 {
  padding-bottom: calc(39 * 1%) !important; }

.ml-39 {
  margin-left: calc(39 * 1%) !important; }

.mt-39 {
  margin-top: calc(39 * 1%) !important; }

.mr-39 {
  margin-right: calc(39 * 1%) !important; }

.mb-39 {
  margin-bottom: calc(39 * 1%) !important; }

.pl-40 {
  padding-left: calc(40 * 1%) !important; }

.pt-40 {
  padding-top: calc(40 * 1%) !important; }

.pr-40 {
  padding-right: calc(40 * 1%) !important; }

.pb-40 {
  padding-bottom: calc(40 * 1%) !important; }

.ml-40 {
  margin-left: calc(40 * 1%) !important; }

.mt-40 {
  margin-top: calc(40 * 1%) !important; }

.mr-40 {
  margin-right: calc(40 * 1%) !important; }

.mb-40 {
  margin-bottom: calc(40 * 1%) !important; }

.pl-41 {
  padding-left: calc(41 * 1%) !important; }

.pt-41 {
  padding-top: calc(41 * 1%) !important; }

.pr-41 {
  padding-right: calc(41 * 1%) !important; }

.pb-41 {
  padding-bottom: calc(41 * 1%) !important; }

.ml-41 {
  margin-left: calc(41 * 1%) !important; }

.mt-41 {
  margin-top: calc(41 * 1%) !important; }

.mr-41 {
  margin-right: calc(41 * 1%) !important; }

.mb-41 {
  margin-bottom: calc(41 * 1%) !important; }

.pl-42 {
  padding-left: calc(42 * 1%) !important; }

.pt-42 {
  padding-top: calc(42 * 1%) !important; }

.pr-42 {
  padding-right: calc(42 * 1%) !important; }

.pb-42 {
  padding-bottom: calc(42 * 1%) !important; }

.ml-42 {
  margin-left: calc(42 * 1%) !important; }

.mt-42 {
  margin-top: calc(42 * 1%) !important; }

.mr-42 {
  margin-right: calc(42 * 1%) !important; }

.mb-42 {
  margin-bottom: calc(42 * 1%) !important; }

.pl-43 {
  padding-left: calc(43 * 1%) !important; }

.pt-43 {
  padding-top: calc(43 * 1%) !important; }

.pr-43 {
  padding-right: calc(43 * 1%) !important; }

.pb-43 {
  padding-bottom: calc(43 * 1%) !important; }

.ml-43 {
  margin-left: calc(43 * 1%) !important; }

.mt-43 {
  margin-top: calc(43 * 1%) !important; }

.mr-43 {
  margin-right: calc(43 * 1%) !important; }

.mb-43 {
  margin-bottom: calc(43 * 1%) !important; }

.pl-44 {
  padding-left: calc(44 * 1%) !important; }

.pt-44 {
  padding-top: calc(44 * 1%) !important; }

.pr-44 {
  padding-right: calc(44 * 1%) !important; }

.pb-44 {
  padding-bottom: calc(44 * 1%) !important; }

.ml-44 {
  margin-left: calc(44 * 1%) !important; }

.mt-44 {
  margin-top: calc(44 * 1%) !important; }

.mr-44 {
  margin-right: calc(44 * 1%) !important; }

.mb-44 {
  margin-bottom: calc(44 * 1%) !important; }

.pl-45 {
  padding-left: calc(45 * 1%) !important; }

.pt-45 {
  padding-top: calc(45 * 1%) !important; }

.pr-45 {
  padding-right: calc(45 * 1%) !important; }

.pb-45 {
  padding-bottom: calc(45 * 1%) !important; }

.ml-45 {
  margin-left: calc(45 * 1%) !important; }

.mt-45 {
  margin-top: calc(45 * 1%) !important; }

.mr-45 {
  margin-right: calc(45 * 1%) !important; }

.mb-45 {
  margin-bottom: calc(45 * 1%) !important; }

.pl-46 {
  padding-left: calc(46 * 1%) !important; }

.pt-46 {
  padding-top: calc(46 * 1%) !important; }

.pr-46 {
  padding-right: calc(46 * 1%) !important; }

.pb-46 {
  padding-bottom: calc(46 * 1%) !important; }

.ml-46 {
  margin-left: calc(46 * 1%) !important; }

.mt-46 {
  margin-top: calc(46 * 1%) !important; }

.mr-46 {
  margin-right: calc(46 * 1%) !important; }

.mb-46 {
  margin-bottom: calc(46 * 1%) !important; }

.pl-47 {
  padding-left: calc(47 * 1%) !important; }

.pt-47 {
  padding-top: calc(47 * 1%) !important; }

.pr-47 {
  padding-right: calc(47 * 1%) !important; }

.pb-47 {
  padding-bottom: calc(47 * 1%) !important; }

.ml-47 {
  margin-left: calc(47 * 1%) !important; }

.mt-47 {
  margin-top: calc(47 * 1%) !important; }

.mr-47 {
  margin-right: calc(47 * 1%) !important; }

.mb-47 {
  margin-bottom: calc(47 * 1%) !important; }

.pl-48 {
  padding-left: calc(48 * 1%) !important; }

.pt-48 {
  padding-top: calc(48 * 1%) !important; }

.pr-48 {
  padding-right: calc(48 * 1%) !important; }

.pb-48 {
  padding-bottom: calc(48 * 1%) !important; }

.ml-48 {
  margin-left: calc(48 * 1%) !important; }

.mt-48 {
  margin-top: calc(48 * 1%) !important; }

.mr-48 {
  margin-right: calc(48 * 1%) !important; }

.mb-48 {
  margin-bottom: calc(48 * 1%) !important; }

.pl-49 {
  padding-left: calc(49 * 1%) !important; }

.pt-49 {
  padding-top: calc(49 * 1%) !important; }

.pr-49 {
  padding-right: calc(49 * 1%) !important; }

.pb-49 {
  padding-bottom: calc(49 * 1%) !important; }

.ml-49 {
  margin-left: calc(49 * 1%) !important; }

.mt-49 {
  margin-top: calc(49 * 1%) !important; }

.mr-49 {
  margin-right: calc(49 * 1%) !important; }

.mb-49 {
  margin-bottom: calc(49 * 1%) !important; }

.pl-50 {
  padding-left: calc(50 * 1%) !important; }

.pt-50 {
  padding-top: calc(50 * 1%) !important; }

.pr-50 {
  padding-right: calc(50 * 1%) !important; }

.pb-50 {
  padding-bottom: calc(50 * 1%) !important; }

.ml-50 {
  margin-left: calc(50 * 1%) !important; }

.mt-50 {
  margin-top: calc(50 * 1%) !important; }

.mr-50 {
  margin-right: calc(50 * 1%) !important; }

.mb-50 {
  margin-bottom: calc(50 * 1%) !important; }

.pl-51 {
  padding-left: calc(51 * 1%) !important; }

.pt-51 {
  padding-top: calc(51 * 1%) !important; }

.pr-51 {
  padding-right: calc(51 * 1%) !important; }

.pb-51 {
  padding-bottom: calc(51 * 1%) !important; }

.ml-51 {
  margin-left: calc(51 * 1%) !important; }

.mt-51 {
  margin-top: calc(51 * 1%) !important; }

.mr-51 {
  margin-right: calc(51 * 1%) !important; }

.mb-51 {
  margin-bottom: calc(51 * 1%) !important; }

.pl-52 {
  padding-left: calc(52 * 1%) !important; }

.pt-52 {
  padding-top: calc(52 * 1%) !important; }

.pr-52 {
  padding-right: calc(52 * 1%) !important; }

.pb-52 {
  padding-bottom: calc(52 * 1%) !important; }

.ml-52 {
  margin-left: calc(52 * 1%) !important; }

.mt-52 {
  margin-top: calc(52 * 1%) !important; }

.mr-52 {
  margin-right: calc(52 * 1%) !important; }

.mb-52 {
  margin-bottom: calc(52 * 1%) !important; }

.pl-53 {
  padding-left: calc(53 * 1%) !important; }

.pt-53 {
  padding-top: calc(53 * 1%) !important; }

.pr-53 {
  padding-right: calc(53 * 1%) !important; }

.pb-53 {
  padding-bottom: calc(53 * 1%) !important; }

.ml-53 {
  margin-left: calc(53 * 1%) !important; }

.mt-53 {
  margin-top: calc(53 * 1%) !important; }

.mr-53 {
  margin-right: calc(53 * 1%) !important; }

.mb-53 {
  margin-bottom: calc(53 * 1%) !important; }

.pl-54 {
  padding-left: calc(54 * 1%) !important; }

.pt-54 {
  padding-top: calc(54 * 1%) !important; }

.pr-54 {
  padding-right: calc(54 * 1%) !important; }

.pb-54 {
  padding-bottom: calc(54 * 1%) !important; }

.ml-54 {
  margin-left: calc(54 * 1%) !important; }

.mt-54 {
  margin-top: calc(54 * 1%) !important; }

.mr-54 {
  margin-right: calc(54 * 1%) !important; }

.mb-54 {
  margin-bottom: calc(54 * 1%) !important; }

.pl-55 {
  padding-left: calc(55 * 1%) !important; }

.pt-55 {
  padding-top: calc(55 * 1%) !important; }

.pr-55 {
  padding-right: calc(55 * 1%) !important; }

.pb-55 {
  padding-bottom: calc(55 * 1%) !important; }

.ml-55 {
  margin-left: calc(55 * 1%) !important; }

.mt-55 {
  margin-top: calc(55 * 1%) !important; }

.mr-55 {
  margin-right: calc(55 * 1%) !important; }

.mb-55 {
  margin-bottom: calc(55 * 1%) !important; }

.pl-56 {
  padding-left: calc(56 * 1%) !important; }

.pt-56 {
  padding-top: calc(56 * 1%) !important; }

.pr-56 {
  padding-right: calc(56 * 1%) !important; }

.pb-56 {
  padding-bottom: calc(56 * 1%) !important; }

.ml-56 {
  margin-left: calc(56 * 1%) !important; }

.mt-56 {
  margin-top: calc(56 * 1%) !important; }

.mr-56 {
  margin-right: calc(56 * 1%) !important; }

.mb-56 {
  margin-bottom: calc(56 * 1%) !important; }

.pl-57 {
  padding-left: calc(57 * 1%) !important; }

.pt-57 {
  padding-top: calc(57 * 1%) !important; }

.pr-57 {
  padding-right: calc(57 * 1%) !important; }

.pb-57 {
  padding-bottom: calc(57 * 1%) !important; }

.ml-57 {
  margin-left: calc(57 * 1%) !important; }

.mt-57 {
  margin-top: calc(57 * 1%) !important; }

.mr-57 {
  margin-right: calc(57 * 1%) !important; }

.mb-57 {
  margin-bottom: calc(57 * 1%) !important; }

.pl-58 {
  padding-left: calc(58 * 1%) !important; }

.pt-58 {
  padding-top: calc(58 * 1%) !important; }

.pr-58 {
  padding-right: calc(58 * 1%) !important; }

.pb-58 {
  padding-bottom: calc(58 * 1%) !important; }

.ml-58 {
  margin-left: calc(58 * 1%) !important; }

.mt-58 {
  margin-top: calc(58 * 1%) !important; }

.mr-58 {
  margin-right: calc(58 * 1%) !important; }

.mb-58 {
  margin-bottom: calc(58 * 1%) !important; }

.pl-59 {
  padding-left: calc(59 * 1%) !important; }

.pt-59 {
  padding-top: calc(59 * 1%) !important; }

.pr-59 {
  padding-right: calc(59 * 1%) !important; }

.pb-59 {
  padding-bottom: calc(59 * 1%) !important; }

.ml-59 {
  margin-left: calc(59 * 1%) !important; }

.mt-59 {
  margin-top: calc(59 * 1%) !important; }

.mr-59 {
  margin-right: calc(59 * 1%) !important; }

.mb-59 {
  margin-bottom: calc(59 * 1%) !important; }

.pl-60 {
  padding-left: calc(60 * 1%) !important; }

.pt-60 {
  padding-top: calc(60 * 1%) !important; }

.pr-60 {
  padding-right: calc(60 * 1%) !important; }

.pb-60 {
  padding-bottom: calc(60 * 1%) !important; }

.ml-60 {
  margin-left: calc(60 * 1%) !important; }

.mt-60 {
  margin-top: calc(60 * 1%) !important; }

.mr-60 {
  margin-right: calc(60 * 1%) !important; }

.mb-60 {
  margin-bottom: calc(60 * 1%) !important; }

.pl-61 {
  padding-left: calc(61 * 1%) !important; }

.pt-61 {
  padding-top: calc(61 * 1%) !important; }

.pr-61 {
  padding-right: calc(61 * 1%) !important; }

.pb-61 {
  padding-bottom: calc(61 * 1%) !important; }

.ml-61 {
  margin-left: calc(61 * 1%) !important; }

.mt-61 {
  margin-top: calc(61 * 1%) !important; }

.mr-61 {
  margin-right: calc(61 * 1%) !important; }

.mb-61 {
  margin-bottom: calc(61 * 1%) !important; }

.pl-62 {
  padding-left: calc(62 * 1%) !important; }

.pt-62 {
  padding-top: calc(62 * 1%) !important; }

.pr-62 {
  padding-right: calc(62 * 1%) !important; }

.pb-62 {
  padding-bottom: calc(62 * 1%) !important; }

.ml-62 {
  margin-left: calc(62 * 1%) !important; }

.mt-62 {
  margin-top: calc(62 * 1%) !important; }

.mr-62 {
  margin-right: calc(62 * 1%) !important; }

.mb-62 {
  margin-bottom: calc(62 * 1%) !important; }

.pl-63 {
  padding-left: calc(63 * 1%) !important; }

.pt-63 {
  padding-top: calc(63 * 1%) !important; }

.pr-63 {
  padding-right: calc(63 * 1%) !important; }

.pb-63 {
  padding-bottom: calc(63 * 1%) !important; }

.ml-63 {
  margin-left: calc(63 * 1%) !important; }

.mt-63 {
  margin-top: calc(63 * 1%) !important; }

.mr-63 {
  margin-right: calc(63 * 1%) !important; }

.mb-63 {
  margin-bottom: calc(63 * 1%) !important; }

.pl-64 {
  padding-left: calc(64 * 1%) !important; }

.pt-64 {
  padding-top: calc(64 * 1%) !important; }

.pr-64 {
  padding-right: calc(64 * 1%) !important; }

.pb-64 {
  padding-bottom: calc(64 * 1%) !important; }

.ml-64 {
  margin-left: calc(64 * 1%) !important; }

.mt-64 {
  margin-top: calc(64 * 1%) !important; }

.mr-64 {
  margin-right: calc(64 * 1%) !important; }

.mb-64 {
  margin-bottom: calc(64 * 1%) !important; }

.pl-65 {
  padding-left: calc(65 * 1%) !important; }

.pt-65 {
  padding-top: calc(65 * 1%) !important; }

.pr-65 {
  padding-right: calc(65 * 1%) !important; }

.pb-65 {
  padding-bottom: calc(65 * 1%) !important; }

.ml-65 {
  margin-left: calc(65 * 1%) !important; }

.mt-65 {
  margin-top: calc(65 * 1%) !important; }

.mr-65 {
  margin-right: calc(65 * 1%) !important; }

.mb-65 {
  margin-bottom: calc(65 * 1%) !important; }

.pl-66 {
  padding-left: calc(66 * 1%) !important; }

.pt-66 {
  padding-top: calc(66 * 1%) !important; }

.pr-66 {
  padding-right: calc(66 * 1%) !important; }

.pb-66 {
  padding-bottom: calc(66 * 1%) !important; }

.ml-66 {
  margin-left: calc(66 * 1%) !important; }

.mt-66 {
  margin-top: calc(66 * 1%) !important; }

.mr-66 {
  margin-right: calc(66 * 1%) !important; }

.mb-66 {
  margin-bottom: calc(66 * 1%) !important; }

.pl-67 {
  padding-left: calc(67 * 1%) !important; }

.pt-67 {
  padding-top: calc(67 * 1%) !important; }

.pr-67 {
  padding-right: calc(67 * 1%) !important; }

.pb-67 {
  padding-bottom: calc(67 * 1%) !important; }

.ml-67 {
  margin-left: calc(67 * 1%) !important; }

.mt-67 {
  margin-top: calc(67 * 1%) !important; }

.mr-67 {
  margin-right: calc(67 * 1%) !important; }

.mb-67 {
  margin-bottom: calc(67 * 1%) !important; }

.pl-68 {
  padding-left: calc(68 * 1%) !important; }

.pt-68 {
  padding-top: calc(68 * 1%) !important; }

.pr-68 {
  padding-right: calc(68 * 1%) !important; }

.pb-68 {
  padding-bottom: calc(68 * 1%) !important; }

.ml-68 {
  margin-left: calc(68 * 1%) !important; }

.mt-68 {
  margin-top: calc(68 * 1%) !important; }

.mr-68 {
  margin-right: calc(68 * 1%) !important; }

.mb-68 {
  margin-bottom: calc(68 * 1%) !important; }

.pl-69 {
  padding-left: calc(69 * 1%) !important; }

.pt-69 {
  padding-top: calc(69 * 1%) !important; }

.pr-69 {
  padding-right: calc(69 * 1%) !important; }

.pb-69 {
  padding-bottom: calc(69 * 1%) !important; }

.ml-69 {
  margin-left: calc(69 * 1%) !important; }

.mt-69 {
  margin-top: calc(69 * 1%) !important; }

.mr-69 {
  margin-right: calc(69 * 1%) !important; }

.mb-69 {
  margin-bottom: calc(69 * 1%) !important; }

.pl-70 {
  padding-left: calc(70 * 1%) !important; }

.pt-70 {
  padding-top: calc(70 * 1%) !important; }

.pr-70 {
  padding-right: calc(70 * 1%) !important; }

.pb-70 {
  padding-bottom: calc(70 * 1%) !important; }

.ml-70 {
  margin-left: calc(70 * 1%) !important; }

.mt-70 {
  margin-top: calc(70 * 1%) !important; }

.mr-70 {
  margin-right: calc(70 * 1%) !important; }

.mb-70 {
  margin-bottom: calc(70 * 1%) !important; }

.pl-71 {
  padding-left: calc(71 * 1%) !important; }

.pt-71 {
  padding-top: calc(71 * 1%) !important; }

.pr-71 {
  padding-right: calc(71 * 1%) !important; }

.pb-71 {
  padding-bottom: calc(71 * 1%) !important; }

.ml-71 {
  margin-left: calc(71 * 1%) !important; }

.mt-71 {
  margin-top: calc(71 * 1%) !important; }

.mr-71 {
  margin-right: calc(71 * 1%) !important; }

.mb-71 {
  margin-bottom: calc(71 * 1%) !important; }

.pl-72 {
  padding-left: calc(72 * 1%) !important; }

.pt-72 {
  padding-top: calc(72 * 1%) !important; }

.pr-72 {
  padding-right: calc(72 * 1%) !important; }

.pb-72 {
  padding-bottom: calc(72 * 1%) !important; }

.ml-72 {
  margin-left: calc(72 * 1%) !important; }

.mt-72 {
  margin-top: calc(72 * 1%) !important; }

.mr-72 {
  margin-right: calc(72 * 1%) !important; }

.mb-72 {
  margin-bottom: calc(72 * 1%) !important; }

.pl-73 {
  padding-left: calc(73 * 1%) !important; }

.pt-73 {
  padding-top: calc(73 * 1%) !important; }

.pr-73 {
  padding-right: calc(73 * 1%) !important; }

.pb-73 {
  padding-bottom: calc(73 * 1%) !important; }

.ml-73 {
  margin-left: calc(73 * 1%) !important; }

.mt-73 {
  margin-top: calc(73 * 1%) !important; }

.mr-73 {
  margin-right: calc(73 * 1%) !important; }

.mb-73 {
  margin-bottom: calc(73 * 1%) !important; }

.pl-74 {
  padding-left: calc(74 * 1%) !important; }

.pt-74 {
  padding-top: calc(74 * 1%) !important; }

.pr-74 {
  padding-right: calc(74 * 1%) !important; }

.pb-74 {
  padding-bottom: calc(74 * 1%) !important; }

.ml-74 {
  margin-left: calc(74 * 1%) !important; }

.mt-74 {
  margin-top: calc(74 * 1%) !important; }

.mr-74 {
  margin-right: calc(74 * 1%) !important; }

.mb-74 {
  margin-bottom: calc(74 * 1%) !important; }

.pl-75 {
  padding-left: calc(75 * 1%) !important; }

.pt-75 {
  padding-top: calc(75 * 1%) !important; }

.pr-75 {
  padding-right: calc(75 * 1%) !important; }

.pb-75 {
  padding-bottom: calc(75 * 1%) !important; }

.ml-75 {
  margin-left: calc(75 * 1%) !important; }

.mt-75 {
  margin-top: calc(75 * 1%) !important; }

.mr-75 {
  margin-right: calc(75 * 1%) !important; }

.mb-75 {
  margin-bottom: calc(75 * 1%) !important; }

.pl-76 {
  padding-left: calc(76 * 1%) !important; }

.pt-76 {
  padding-top: calc(76 * 1%) !important; }

.pr-76 {
  padding-right: calc(76 * 1%) !important; }

.pb-76 {
  padding-bottom: calc(76 * 1%) !important; }

.ml-76 {
  margin-left: calc(76 * 1%) !important; }

.mt-76 {
  margin-top: calc(76 * 1%) !important; }

.mr-76 {
  margin-right: calc(76 * 1%) !important; }

.mb-76 {
  margin-bottom: calc(76 * 1%) !important; }

.pl-77 {
  padding-left: calc(77 * 1%) !important; }

.pt-77 {
  padding-top: calc(77 * 1%) !important; }

.pr-77 {
  padding-right: calc(77 * 1%) !important; }

.pb-77 {
  padding-bottom: calc(77 * 1%) !important; }

.ml-77 {
  margin-left: calc(77 * 1%) !important; }

.mt-77 {
  margin-top: calc(77 * 1%) !important; }

.mr-77 {
  margin-right: calc(77 * 1%) !important; }

.mb-77 {
  margin-bottom: calc(77 * 1%) !important; }

.pl-78 {
  padding-left: calc(78 * 1%) !important; }

.pt-78 {
  padding-top: calc(78 * 1%) !important; }

.pr-78 {
  padding-right: calc(78 * 1%) !important; }

.pb-78 {
  padding-bottom: calc(78 * 1%) !important; }

.ml-78 {
  margin-left: calc(78 * 1%) !important; }

.mt-78 {
  margin-top: calc(78 * 1%) !important; }

.mr-78 {
  margin-right: calc(78 * 1%) !important; }

.mb-78 {
  margin-bottom: calc(78 * 1%) !important; }

.pl-79 {
  padding-left: calc(79 * 1%) !important; }

.pt-79 {
  padding-top: calc(79 * 1%) !important; }

.pr-79 {
  padding-right: calc(79 * 1%) !important; }

.pb-79 {
  padding-bottom: calc(79 * 1%) !important; }

.ml-79 {
  margin-left: calc(79 * 1%) !important; }

.mt-79 {
  margin-top: calc(79 * 1%) !important; }

.mr-79 {
  margin-right: calc(79 * 1%) !important; }

.mb-79 {
  margin-bottom: calc(79 * 1%) !important; }

.pl-80 {
  padding-left: calc(80 * 1%) !important; }

.pt-80 {
  padding-top: calc(80 * 1%) !important; }

.pr-80 {
  padding-right: calc(80 * 1%) !important; }

.pb-80 {
  padding-bottom: calc(80 * 1%) !important; }

.ml-80 {
  margin-left: calc(80 * 1%) !important; }

.mt-80 {
  margin-top: calc(80 * 1%) !important; }

.mr-80 {
  margin-right: calc(80 * 1%) !important; }

.mb-80 {
  margin-bottom: calc(80 * 1%) !important; }

.pl-81 {
  padding-left: calc(81 * 1%) !important; }

.pt-81 {
  padding-top: calc(81 * 1%) !important; }

.pr-81 {
  padding-right: calc(81 * 1%) !important; }

.pb-81 {
  padding-bottom: calc(81 * 1%) !important; }

.ml-81 {
  margin-left: calc(81 * 1%) !important; }

.mt-81 {
  margin-top: calc(81 * 1%) !important; }

.mr-81 {
  margin-right: calc(81 * 1%) !important; }

.mb-81 {
  margin-bottom: calc(81 * 1%) !important; }

.pl-82 {
  padding-left: calc(82 * 1%) !important; }

.pt-82 {
  padding-top: calc(82 * 1%) !important; }

.pr-82 {
  padding-right: calc(82 * 1%) !important; }

.pb-82 {
  padding-bottom: calc(82 * 1%) !important; }

.ml-82 {
  margin-left: calc(82 * 1%) !important; }

.mt-82 {
  margin-top: calc(82 * 1%) !important; }

.mr-82 {
  margin-right: calc(82 * 1%) !important; }

.mb-82 {
  margin-bottom: calc(82 * 1%) !important; }

.pl-83 {
  padding-left: calc(83 * 1%) !important; }

.pt-83 {
  padding-top: calc(83 * 1%) !important; }

.pr-83 {
  padding-right: calc(83 * 1%) !important; }

.pb-83 {
  padding-bottom: calc(83 * 1%) !important; }

.ml-83 {
  margin-left: calc(83 * 1%) !important; }

.mt-83 {
  margin-top: calc(83 * 1%) !important; }

.mr-83 {
  margin-right: calc(83 * 1%) !important; }

.mb-83 {
  margin-bottom: calc(83 * 1%) !important; }

.pl-84 {
  padding-left: calc(84 * 1%) !important; }

.pt-84 {
  padding-top: calc(84 * 1%) !important; }

.pr-84 {
  padding-right: calc(84 * 1%) !important; }

.pb-84 {
  padding-bottom: calc(84 * 1%) !important; }

.ml-84 {
  margin-left: calc(84 * 1%) !important; }

.mt-84 {
  margin-top: calc(84 * 1%) !important; }

.mr-84 {
  margin-right: calc(84 * 1%) !important; }

.mb-84 {
  margin-bottom: calc(84 * 1%) !important; }

.pl-85 {
  padding-left: calc(85 * 1%) !important; }

.pt-85 {
  padding-top: calc(85 * 1%) !important; }

.pr-85 {
  padding-right: calc(85 * 1%) !important; }

.pb-85 {
  padding-bottom: calc(85 * 1%) !important; }

.ml-85 {
  margin-left: calc(85 * 1%) !important; }

.mt-85 {
  margin-top: calc(85 * 1%) !important; }

.mr-85 {
  margin-right: calc(85 * 1%) !important; }

.mb-85 {
  margin-bottom: calc(85 * 1%) !important; }

.pl-86 {
  padding-left: calc(86 * 1%) !important; }

.pt-86 {
  padding-top: calc(86 * 1%) !important; }

.pr-86 {
  padding-right: calc(86 * 1%) !important; }

.pb-86 {
  padding-bottom: calc(86 * 1%) !important; }

.ml-86 {
  margin-left: calc(86 * 1%) !important; }

.mt-86 {
  margin-top: calc(86 * 1%) !important; }

.mr-86 {
  margin-right: calc(86 * 1%) !important; }

.mb-86 {
  margin-bottom: calc(86 * 1%) !important; }

.pl-87 {
  padding-left: calc(87 * 1%) !important; }

.pt-87 {
  padding-top: calc(87 * 1%) !important; }

.pr-87 {
  padding-right: calc(87 * 1%) !important; }

.pb-87 {
  padding-bottom: calc(87 * 1%) !important; }

.ml-87 {
  margin-left: calc(87 * 1%) !important; }

.mt-87 {
  margin-top: calc(87 * 1%) !important; }

.mr-87 {
  margin-right: calc(87 * 1%) !important; }

.mb-87 {
  margin-bottom: calc(87 * 1%) !important; }

.pl-88 {
  padding-left: calc(88 * 1%) !important; }

.pt-88 {
  padding-top: calc(88 * 1%) !important; }

.pr-88 {
  padding-right: calc(88 * 1%) !important; }

.pb-88 {
  padding-bottom: calc(88 * 1%) !important; }

.ml-88 {
  margin-left: calc(88 * 1%) !important; }

.mt-88 {
  margin-top: calc(88 * 1%) !important; }

.mr-88 {
  margin-right: calc(88 * 1%) !important; }

.mb-88 {
  margin-bottom: calc(88 * 1%) !important; }

.pl-89 {
  padding-left: calc(89 * 1%) !important; }

.pt-89 {
  padding-top: calc(89 * 1%) !important; }

.pr-89 {
  padding-right: calc(89 * 1%) !important; }

.pb-89 {
  padding-bottom: calc(89 * 1%) !important; }

.ml-89 {
  margin-left: calc(89 * 1%) !important; }

.mt-89 {
  margin-top: calc(89 * 1%) !important; }

.mr-89 {
  margin-right: calc(89 * 1%) !important; }

.mb-89 {
  margin-bottom: calc(89 * 1%) !important; }

.pl-90 {
  padding-left: calc(90 * 1%) !important; }

.pt-90 {
  padding-top: calc(90 * 1%) !important; }

.pr-90 {
  padding-right: calc(90 * 1%) !important; }

.pb-90 {
  padding-bottom: calc(90 * 1%) !important; }

.ml-90 {
  margin-left: calc(90 * 1%) !important; }

.mt-90 {
  margin-top: calc(90 * 1%) !important; }

.mr-90 {
  margin-right: calc(90 * 1%) !important; }

.mb-90 {
  margin-bottom: calc(90 * 1%) !important; }

.pl-91 {
  padding-left: calc(91 * 1%) !important; }

.pt-91 {
  padding-top: calc(91 * 1%) !important; }

.pr-91 {
  padding-right: calc(91 * 1%) !important; }

.pb-91 {
  padding-bottom: calc(91 * 1%) !important; }

.ml-91 {
  margin-left: calc(91 * 1%) !important; }

.mt-91 {
  margin-top: calc(91 * 1%) !important; }

.mr-91 {
  margin-right: calc(91 * 1%) !important; }

.mb-91 {
  margin-bottom: calc(91 * 1%) !important; }

.pl-92 {
  padding-left: calc(92 * 1%) !important; }

.pt-92 {
  padding-top: calc(92 * 1%) !important; }

.pr-92 {
  padding-right: calc(92 * 1%) !important; }

.pb-92 {
  padding-bottom: calc(92 * 1%) !important; }

.ml-92 {
  margin-left: calc(92 * 1%) !important; }

.mt-92 {
  margin-top: calc(92 * 1%) !important; }

.mr-92 {
  margin-right: calc(92 * 1%) !important; }

.mb-92 {
  margin-bottom: calc(92 * 1%) !important; }

.pl-93 {
  padding-left: calc(93 * 1%) !important; }

.pt-93 {
  padding-top: calc(93 * 1%) !important; }

.pr-93 {
  padding-right: calc(93 * 1%) !important; }

.pb-93 {
  padding-bottom: calc(93 * 1%) !important; }

.ml-93 {
  margin-left: calc(93 * 1%) !important; }

.mt-93 {
  margin-top: calc(93 * 1%) !important; }

.mr-93 {
  margin-right: calc(93 * 1%) !important; }

.mb-93 {
  margin-bottom: calc(93 * 1%) !important; }

.pl-94 {
  padding-left: calc(94 * 1%) !important; }

.pt-94 {
  padding-top: calc(94 * 1%) !important; }

.pr-94 {
  padding-right: calc(94 * 1%) !important; }

.pb-94 {
  padding-bottom: calc(94 * 1%) !important; }

.ml-94 {
  margin-left: calc(94 * 1%) !important; }

.mt-94 {
  margin-top: calc(94 * 1%) !important; }

.mr-94 {
  margin-right: calc(94 * 1%) !important; }

.mb-94 {
  margin-bottom: calc(94 * 1%) !important; }

.pl-95 {
  padding-left: calc(95 * 1%) !important; }

.pt-95 {
  padding-top: calc(95 * 1%) !important; }

.pr-95 {
  padding-right: calc(95 * 1%) !important; }

.pb-95 {
  padding-bottom: calc(95 * 1%) !important; }

.ml-95 {
  margin-left: calc(95 * 1%) !important; }

.mt-95 {
  margin-top: calc(95 * 1%) !important; }

.mr-95 {
  margin-right: calc(95 * 1%) !important; }

.mb-95 {
  margin-bottom: calc(95 * 1%) !important; }

.pl-96 {
  padding-left: calc(96 * 1%) !important; }

.pt-96 {
  padding-top: calc(96 * 1%) !important; }

.pr-96 {
  padding-right: calc(96 * 1%) !important; }

.pb-96 {
  padding-bottom: calc(96 * 1%) !important; }

.ml-96 {
  margin-left: calc(96 * 1%) !important; }

.mt-96 {
  margin-top: calc(96 * 1%) !important; }

.mr-96 {
  margin-right: calc(96 * 1%) !important; }

.mb-96 {
  margin-bottom: calc(96 * 1%) !important; }

.pl-97 {
  padding-left: calc(97 * 1%) !important; }

.pt-97 {
  padding-top: calc(97 * 1%) !important; }

.pr-97 {
  padding-right: calc(97 * 1%) !important; }

.pb-97 {
  padding-bottom: calc(97 * 1%) !important; }

.ml-97 {
  margin-left: calc(97 * 1%) !important; }

.mt-97 {
  margin-top: calc(97 * 1%) !important; }

.mr-97 {
  margin-right: calc(97 * 1%) !important; }

.mb-97 {
  margin-bottom: calc(97 * 1%) !important; }

.pl-98 {
  padding-left: calc(98 * 1%) !important; }

.pt-98 {
  padding-top: calc(98 * 1%) !important; }

.pr-98 {
  padding-right: calc(98 * 1%) !important; }

.pb-98 {
  padding-bottom: calc(98 * 1%) !important; }

.ml-98 {
  margin-left: calc(98 * 1%) !important; }

.mt-98 {
  margin-top: calc(98 * 1%) !important; }

.mr-98 {
  margin-right: calc(98 * 1%) !important; }

.mb-98 {
  margin-bottom: calc(98 * 1%) !important; }

.pl-99 {
  padding-left: calc(99 * 1%) !important; }

.pt-99 {
  padding-top: calc(99 * 1%) !important; }

.pr-99 {
  padding-right: calc(99 * 1%) !important; }

.pb-99 {
  padding-bottom: calc(99 * 1%) !important; }

.ml-99 {
  margin-left: calc(99 * 1%) !important; }

.mt-99 {
  margin-top: calc(99 * 1%) !important; }

.mr-99 {
  margin-right: calc(99 * 1%) !important; }

.mb-99 {
  margin-bottom: calc(99 * 1%) !important; }

.pl-100 {
  padding-left: calc(100 * 1%) !important; }

.pt-100 {
  padding-top: calc(100 * 1%) !important; }

.pr-100 {
  padding-right: calc(100 * 1%) !important; }

.pb-100 {
  padding-bottom: calc(100 * 1%) !important; }

.ml-100 {
  margin-left: calc(100 * 1%) !important; }

.mt-100 {
  margin-top: calc(100 * 1%) !important; }

.mr-100 {
  margin-right: calc(100 * 1%) !important; }

.mb-100 {
  margin-bottom: calc(100 * 1%) !important; }

.error input, .error textarea {
  border-color: red; }
